body {
  text-align: center;
  font-family: Helvetica;
}
div {
  background-image: url("images/the-flatiron-building.png");
}
.backgroundimage p {
  font-size: 18px;
  color: white;
}
.footer span {
  font-size: 18px;
  color: white;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  color: white;
}
.backgroundimage h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("images/the-flatiron-building.png");
}
p {
  font-size: 14px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
.footer {
  background-color: dimgray;
  text-align: left;
}
.footer p {
  font-size: 11px;
  color: white;
}
